<a href="https://colab.research.google.com/github/akshat09105/AI-ML/blob/main/homeworkl2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. L is a list defined as L= [11, 12, 13, 14].
(i) WAP to add 50 and 60 to L.
(ii) WAP to remove 11 and 13from L.
(iii) WAP to sort L in ascending order.
(iv) WAP to sort L in descending order.
(v) WAP to search for 13 in L.
(vi) WAP to count the number of elements present in L.
(vii) WAP to sum all the elements in L.
(viii) WAP to sum all ODD numbers in L.
(ix) WAP to sum all EVEN numbers in L.
(x) WAP to sum all PRIME numbers in L.
(xi) WAP to clear all the elements in L.
(xii) WAP to delete L.

L is a list defined as L= [11, 12, 13, 14].

In [ ]:
L= [11, 12, 13, 14]

(i) WAP to add 50 and 60 to L

In [ ]:
L.append(50)
L.append(60)
L

[11, 12, 13, 14, 50, 60]

WAP to remove 11 and 13from L

In [ ]:
del L[0]
del L[1]
L

[12, 14, 50, 60]

WAP to sort L in ascending

In [ ]:
L.sort()
L

[12, 14, 50, 60]

(iv) WAP to sort L in descending order.

In [ ]:
L.sort(reverse=True)
L

[60, 50, 14, 12]

 (v) WAP to search for 13 in L

In [ ]:
L=[11, 12, 13, 14, 50, 60]

In [ ]:
for i in range(0,len(L)):
  if L[i]==13:
    print("index no of 1 is ",i)

index no of 1 is  2

(vi) WAP to count the number of elements present in L

In [ ]:
len(L)

6

(vii) WAP to sum all the elements in L

In [ ]:
sum(L)

160

(viii) WAP to sum all ODD numbers in L.

In [ ]:
s=0
for i in L:
  if(i%2==0):
    s=s+0
  else:
    s=s+i
print(s)

24

(ix) WAP to sum all EVEN numbers in L

In [ ]:
t=0
for i in L:
  if i%2==0:
    t=t+i
  else:
    t=t+0
print(t)

136

(x) WAP to sum all PRIME numbers in L.

In [ ]:
def prime_no(n):
  for i in range(2,n//2+1):
    if(n%i==0):
      return 1
  return 0
t=0
for i in L:
  if(prime_no(i)==1):
    t=t+0
  elif(prime_no(i)==0):
    t=t+i
print("sum of all prime no.s",t)

sum of all prime no.s 24

(xi) WAP to clear all the elements in L.

In [ ]:
L.clear()
L

[]

(xii) WAP to delete L.

In [ ]:
del(L)
L

NameError: name 'L' is not defined

Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
(i) WAP to add new entry in D; key=8 and value is 8.8
(ii) WAP to remove key=2.
(iii) WAP to check weather 6 key is present in D.
(iv) WAP to count the number of elements present in D.
(v) WAP to add all the values present D.
(vi) WAP to update the value of 3 to 7.1.
(vii) WAP to clear the dictionary

In [ ]:
 D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

(i) WAP to add new entry in D

In [ ]:
D[6]=9.2
D

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 6: 9.2}

(ii) WAP to remove key=2.

In [ ]:
del D[2]
D

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 6: 9.2}

(iii) WAP to check weather 6 key is present in D

 (iv) WAP to count the number of elements present in D

In [ ]:
if(len(D)>6):
  print("Dictionary have more no than 6")
elif(len(D)==6):
  print("Dictionary have number equal to 6")
else:
  print("Dictionary have  number less than 6")

Dictionary have  number less than 6

In [ ]:
j=0
for i in D:
  j=j+1
print("total no of elements in D",j)

total no of elements in D 5

(v) WAP to add all the values present D.

In [ ]:
sum(D.values())

37.8

(vi) WAP to update the value of 3 to 7.1

In [ ]:
D[3]=7.1
D

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 6: 9.2}

(vii) WAP to clear the dictionary

In [ ]:
D.clear()
D

{}

Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
 S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].
(i) WAP to add 55 and 66 in Set S1.
(ii) WAP to remove 10 and 30 from Set S1.
(iii) WAP to check whether 40 is present in S1.
(iv) WAP to find the union between S1 and S2.
(v) WAP to find the intersection between S1 and S2.
(vi) WAP to find the S1 - S2.

In [ ]:
 S1= set([10, 20, 30, 40, 50, 60])
 S2= set([40, 50, 60, 70, 80, 90])

(i) WAP to add 55 and 66 in Set S1.

In [ ]:
S1.add(55)
S1.add(66)
S1

{10, 20, 30, 40, 50, 55, 60, 66}

(ii) WAP to remove 10 and 30 from Set S1.

In [ ]:
S1.remove(10)
S1.remove(30)

(iii) WAP to check whether 40 is present in S1

In [ ]:
try:
  S1.remove(40)
  print("40 is presnt")
except:
  print("40 not present")

40 is presnt

In [ ]:
if 40 in S1:
  print("40 is present")
else:
  print("40 not present")

40 not present

(iv) WAP to find the union between S1 and S2.

In [ ]:
print(S1.union(S2))

{66, 70, 40, 80, 50, 20, 55, 90, 60}

(v) WAP to find the intersection between S1 and S2.

In [ ]:
print(S1.difference(S2))

{66, 20, 55}

Q4. Write the following program.
(i) WAP to print 100 random strings whose length between 6 and 8.
(ii) WAP to print all prime numbers between 600 and 800.
(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

 (i) WAP to print 100 random strings whose length between 6 and 8.

In [ ]:
import string as s
import random as r
string1=s.ascii_letters
L=[6,7,8]
for i in range(0,100):
  x=r.sample(L,1)
  y=x[0]
  string2=r.sample(string1,y)
  string3="".join(string2)
  print(string3)

cAqkSB
MYSclKDU
flKkEU
VxyZbjlh
gbiJLHU
LrjdUy
tDaeXO
QEqFrO
nIOKjlv
JjsyKqVi
VRfidWCa
huKebfJp
dcyMIhD
gxsZbhKB
kwuoWAJ
jKNRmF
lEmdpBgQ
Vibahd
hNSTCHEK
hdiTEOCM
ZqdnVr
epPlExO
vDxaoSYi
GTuixRtw
eExDTy
ahtXlY
CsqJzmE
fOentFc
zLeRumjH
VWjcMn
qkIjDKNS
eqDsHK
ZpIGVr
jcXxkgoD
glxmXC
UxPjYKeC
XwCIRxD
dUHSIV
lRYcESh
NyTqIwsz
jsptVlbx
euVziRSc
GHMXVxtm
FNsCJA
EaNPKMQ
WUdHgVv
rcUjEG
rqMkXI
qjzGfonh
oPCZgE
pvmSjHk
eVWBlaIC
QaVmni
awycvMuW
vBSZRIJf
UOsruG
rkjVBMq
vtMiYw
ypxmrP
dFDNEv
uSfAOhR
lsZEPfuI
gfqcLW
hHOfXFaV
SFVDWen
MmckLWxz
lcHkuY
MUAdXHJ
uACjiYO
BasIlOgt
JvtnmzLp
HyMdFEA
pkrblit
CHfmPiZ
vECmODp
MnLHgmUr
cAnsLoO
cLFyaCo
lAdvrC
aSkUrWCc
nuqZHQ
ecTZhv
DOSZTwn
RxOHhjzZ
LqpaigY
hRBXqICm
CQmoJW
aiDugSsp
HwujON
lCqnhN
BFmDjXPo
xcaKgm
krGlHQS
HnzdEmGl
aZYUqObp
HpkcOQFV
OkSTwo
OvbqXVWK
AbfWXaC
VasdLex

(ii) WAP to print all prime numbers between 600 and 800.

In [ ]:
def primeno(n):
  for i in range(2,n//2+1):
    if(n%i==0):
      return 1
  return 0
for i in range(601,800):
  if(primeno(i)==0):
    print(f"{i} is a prime no")

601 is a prime no
607 is a prime no
613 is a prime no
617 is a prime no
619 is a prime no
631 is a prime no
641 is a prime no
643 is a prime no
647 is a prime no
653 is a prime no
659 is a prime no
661 is a prime no
673 is a prime no
677 is a prime no
683 is a prime no
691 is a prime no
701 is a prime no
709 is a prime no
719 is a prime no
727 is a prime no
733 is a prime no
739 is a prime no
743 is a prime no
751 is a prime no
757 is a prime no
761 is a prime no
769 is a prime no
773 is a prime no
787 is a prime no
797 is a prime no

 (iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9

In [ ]:
def div7_9(n):
  if(n%7==0 & n%9==0):
    return 1
for i in range(101,1000):
  if(div7_9(i)==1):
    print(f"{i} is divisible by both 7 and 9")

105 is divisible by both 7 and 9
112 is divisible by both 7 and 9
119 is divisible by both 7 and 9
126 is divisible by both 7 and 9
133 is divisible by both 7 and 9
140 is divisible by both 7 and 9
147 is divisible by both 7 and 9
154 is divisible by both 7 and 9
161 is divisible by both 7 and 9
168 is divisible by both 7 and 9
175 is divisible by both 7 and 9
182 is divisible by both 7 and 9
189 is divisible by both 7 and 9
196 is divisible by both 7 and 9
203 is divisible by both 7 and 9
210 is divisible by both 7 and 9
217 is divisible by both 7 and 9
224 is divisible by both 7 and 9
231 is divisible by both 7 and 9
238 is divisible by both 7 and 9
245 is divisible by both 7 and 9
252 is divisible by both 7 and 9
259 is divisible by both 7 and 9
266 is divisible by both 7 and 9
273 is divisible by both 7 and 9
280 is divisible by both 7 and 9
287 is divisible by both 7 and 9
294 is divisible by both 7 and 9
301 is divisible by both 7 and 9
308 is divisible by both 7 and 9
315 is divisible by both 7 and 9
322 is divisible by both 7 and 9
329 is divisible by both 7 and 9
336 is divisible by both 7 and 9
343 is divisible by both 7 and 9
350 is divisible by both 7 and 9
357 is divisible by both 7 and 9
364 is divisible by both 7 and 9
371 is divisible by both 7 and 9
378 is divisible by both 7 and 9
385 is divisible by both 7 and 9
392 is divisible by both 7 and 9
399 is divisible by both 7 and 9
406 is divisible by both 7 and 9
413 is divisible by both 7 and 9
420 is divisible by both 7 and 9
427 is divisible by both 7 and 9
434 is divisible by both 7 and 9
441 is divisible by both 7 and 9
448 is divisible by both 7 and 9
455 is divisible by both 7 and 9
462 is divisible by both 7 and 9
469 is divisible by both 7 and 9
476 is divisible by both 7 and 9
483 is divisible by both 7 and 9
490 is divisible by both 7 and 9
497 is divisible by both 7 and 9
504 is divisible by both 7 and 9
511 is divisible by both 7 and 9
518 is divisible by both 7 and 9
525 is divisible by both 7 and 9
532 is divisible by both 7 and 9
539 is divisible by both 7 and 9
546 is divisible by both 7 and 9
553 is divisible by both 7 and 9
560 is divisible by both 7 and 9
567 is divisible by both 7 and 9
574 is divisible by both 7 and 9
581 is divisible by both 7 and 9
588 is divisible by both 7 and 9
595 is divisible by both 7 and 9
602 is divisible by both 7 and 9
609 is divisible by both 7 and 9
616 is divisible by both 7 and 9
623 is divisible by both 7 and 9
630 is divisible by both 7 and 9
637 is divisible by both 7 and 9
644 is divisible by both 7 and 9
651 is divisible by both 7 and 9
658 is divisible by both 7 and 9
665 is divisible by both 7 and 9
672 is divisible by both 7 and 9
679 is divisible by both 7 and 9
686 is divisible by both 7 and 9
693 is divisible by both 7 and 9
700 is divisible by both 7 and 9
707 is divisible by both 7 and 9
714 is divisible by both 7 and 9
721 is divisible by both 7 and 9
728 is divisible by both 7 and 9
735 is divisible by both 7 and 9
742 is divisible by both 7 and 9
749 is divisible by both 7 and 9
756 is divisible by both 7 and 9
763 is divisible by both 7 and 9
770 is divisible by both 7 and 9
777 is divisible by both 7 and 9
784 is divisible by both 7 and 9
791 is divisible by both 7 and 9
798 is divisible by both 7 and 9
805 is divisible by both 7 and 9
812 is divisible by both 7 and 9
819 is divisible by both 7 and 9
826 is divisible by both 7 and 9
833 is divisible by both 7 and 9
840 is divisible by both 7 and 9
847 is divisible by both 7 and 9
854 is divisible by both 7 and 9
861 is divisible by both 7 and 9
868 is divisible by both 7 and 9
875 is divisible by both 7 and 9
882 is divisible by both 7 and 9
889 is divisible by both 7 and 9
896 is divisible by both 7 and 9
903 is divisible by both 7 and 9
910 is divisible by both 7 and 9
917 is divisible by both 7 and 9
924 is divisible by both 7 and 9
931 is divisible by both 7 and 9
938 is divisible by both 7 and 9
945 is divisible by both 7 and 9
952 is divisible by both 7 and 9
959 is divisible by both 7 and 9
966 is divisible by both 7 and 9
973 is divisible by both 7 and 9
980 is divisible by both 7 and 9
987 is divisible by both 7 and 9
994 is divisible by both 7 and 9

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find
(i) Common numbers in the two lists
(ii) Unique numbers in both the list
(iii) Minimum in both the list
(iv) Maximum in both the list
(v) Sum of both the lists

In [ ]:
import random as r
L1=r.sample(range(10,30),10)
L2=r.sample(range(10,30),10)
print(L1)
print(L2)

[19, 24, 21, 14, 29, 11, 25, 12, 28, 18]
[14, 10, 19, 26, 29, 15, 23, 25, 20, 16]

(i) Common numbers in the two lists

In [ ]:
L3=[]
for i in L1:
  for j in L2:
    if(i==j):
      L3.append(i)
      print(L3,"is list of common no.s")

[19] is list of common no.s
[19, 14] is list of common no.s
[19, 14, 29] is list of common no.s
[19, 14, 29, 25] is list of common no.s

(ii) Unique numbers in both the list

(iii) Minimum in both the list

In [ ]:
L4=L1+L2
min(L4)

10

(iv) Maximum in both the list

In [ ]:
max(L4)

29

(v) Sum of both the lists

In [ ]:
sum(L4)

398

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
(i) All odd numbers
(ii) All even numbers
(iii) All prime numbers

In [ ]:
import random as r
L=r.sample(range(101,900),100)

 (i) All odd numbers

In [ ]:
def odd(n):
  if n%2==0:
    return 1
  return 0
L1=[]
for i in L:
  if(odd(i)==0):
    L1.append(i)
L1

[189,
 311,
 129,
 759,
 335,
 457,
 307,
 297,
 487,
 367,
 419,
 115,
 409,
 231,
 683,
 619,
 241,
 355,
 785,
 511,
 685,
 437,
 659,
 467,
 185,
 523,
 679,
 515,
 793,
 553,
 801,
 581,
 427,
 583,
 449,
 153,
 493,
 639,
 243,
 567,
 681,
 645,
 603,
 863,
 379,
 401,
 233,
 389,
 411,
 795,
 331,
 775,
 421,
 733,
 875,
 617,
 237]

(ii) All even numbers

In [ ]:
L1=[]
def even(n):
  if n%2==0:
    return 1
  return 0
for i in range(101,900):
  if(even(i)==1):
    L1.append(i)
L1

[102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898]

(iii) All prime numbers

In [ ]:
L1=[]
def primeno(n):
  for i in range(2,n//2+1):
    if(n%i==0):
      return 1
  return 0
for i in L:
  if(primeno(i)==0):
    L1.append(i)
L1

[311,
 457,
 307,
 487,
 367,
 419,
 409,
 683,
 619,
 241,
 659,
 467,
 523,
 449,
 863,
 379,
 401,
 233,
 389,
 331,
 421,
 733,
 617]

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
 WAP to read all the keys and values from dictionary and write to the file in the given below format.
Key1, Value1
Key2, Value2
Key3, Value3

In [ ]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}

In [ ]:
x=list(D.keys())
x
y=list(D.values())
y
fp=open("file1.txt","w")
for i in x:
  fp.write(f"{i},{D[i]} \n")
fp.close()

Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
 WAP to count the length of reach element from a list and write to the file in the given below format:
One, 3
Two, 3
Four, 4

In [ ]:
L=["One","Two","Three","Four","Five"]

In [ ]:
fp=open("file2.txt","w")
for i in range(1,5):
  fp.write(f"{i},{L[i-1]}\n")
fp.close()

Q9. Write to the file 100 random strings whose length between 10 and 15.

In [ ]:
import random as r
import string as s

L2=s.ascii_letters
def string(n):
  x=r.sample(L2,r.randint(11,15))
  y="".join(x)
  return y
fp=open("file3.txt","w")
for i in range(0,100):
  fp.write(f"{string(i)}\n")
fp.close()

Q10. Write to the file all prime numbers between 600 and 800.

In [ ]:
def prime_no(n):
  for i in range(2,n//2+1):
    if(n%i==0):
      return 0
  return 1
fp=open("file4.txt","w")
for i in range(601,800):
  if(prime_no(i)==1):
    fp.write(f"{i}\n")
fp.close()

In [ ]:
L=[1,2,3,4,5]

Q11. WAP to calculate the time taken by a program

In [ ]:
%timeit L[2]        # Accessing a single element

23.3 ns  0.711 ns per loop (mean  std. dev. of 7 runs, 10000000 loops each)

Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student
 having maximum and minimum average m

In [ ]:
D={1:78,2:94,3:88,4:89}

In [ ]:
L=[D.values()]
print(L)
print(min(D.values()))
print(max(D.values()))

[dict_values([78, 94, 88, 89])]
78
94